[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "TableToLongForm"]
	path = TableToLongForm
	url = https://github.com/cran/TableToLongForm
